<% if @feast.yelp_id.nil? %>

  <p><%= @feast.name %></p>
  <p><%= @feast.description %></p>
  <p><%= @feast.address %></p>

<% else %>

  <p><%= @result.name %></p>
  <p>Yelp rating: <%= @result.rating %>
  (from <%= @result.review_count %> reviews)</p>
  <p><%= @result.rating_img_url %></p>
  <p><%= @result.snippet_text%></p>
  <p><%= @result.location.display_address[1] %></p>
  <p><%= @result.location.display_address[2] %></p>
  <p><%= link_to "Yelp page", @result.url%></p>
  <p><%= image_tag @result.image_url %></p>
  <p><%= image_tag @result.snippet_image_url %></p>

  <p> Yelp Reviews: </p>

  <% @result.reviews.each do |review| %>
    <br>
    <%= review.rating %>
    <%= image_tag review.rating_image_small_url %>
    <br>
    <%= review.excerpt %>
  <% end %>

<% end %>