<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>

<div id="logo_small">
  <img id="logo_image" src="/images/logo_w.png" style="width: 30%;height: 30%;">
  <br>
   <% if user_signed_in? %>
          <button class="buttons" onclick="window.location.href='/feasts/new'">Add a feast</button>
        <% end %>

        <% if user_signed_in? %>
          <button class="buttons"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></button>
        <% else %>
          <button class="buttons"><%= link_to "Sign in", new_user_session_path %></button>
          <button class="buttons"><%= link_to "Sign up", new_user_registration_path %></button>
        <% end %>

</div>

<%= render "feasts" %>
<%= render "googlemaps" %>
<%= render "panel" %>

<section id="overlay">
  <img id="logo_big" src='/images/feastbeast_w.png'>
</section>

