<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<% if @feasts.any? %>
  <% @feasts.each do |feast| %>
    <h2><%= link_to feast.name, feast_path(feast) %></h2>
    <h3>Average rating: <%= star_rating(feast.average_rating) %></h3>
      <% if user_signed_in? %>
        <% if feast.user_id == @user.id %>
          <%= link_to "Edit #{feast.name}", edit_feast_path(feast) %>
          <%= link_to "Delete #{feast.name}", feast_path(feast), method: :delete %>
          No yelp content
          <%= link_to "Add yelp details", yelp_path(feast)%> 
        <% end %>
        <%= link_to "Review #{feast.name}", new_feast_review_path(feast) %>
      <% else %>
         (log in to leave a review)
      <% end %>
    <% if feast.reviews.any? %>
      <ul>
        <% feast.reviews.each do |review| %>
          <li><%= review.thoughts %>, <%= star_rating(review.rating) %></li>
          <%= link_to "X", feast_review_path(feast,review), method: :delete  %>
        <% end %>
      </ul>
    <% else %>
      <p>No Reviews.</p>
    <% end %>
  <% end %>
<% else %>
  <h1>No feasts yet</h1>
<% end %>

<% if user_signed_in? %>
  <a href='feasts/new'>Add a feast</a>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
var pointarray, heatmap;

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();

  pointArray = new google.maps.MVCArray(markers);

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: pointArray
  });

  heatmap.setMap(map);
});

</script>
