<% if @feasts.any? %>
  <% @feasts.each do |feast| %>
    <%= link_to feast.name, feast_path(feast) %>
    <%= link_to "Edit #{feast.name}", edit_feast_path(feast) %>
    <%= link_to "Delete #{feast.name}", feast_path(feast), method: :delete %>
    <%= link_to "Review #{feast.name}", new_feast_review_path(feast) %>
    <% if feast.reviews.any? %>
      <ul>
        <% feast.reviews.each do |review| %>
          <li><%= review.thoughts %>, <strong><%= review.rating %></strong>/5</li>
        <% end %>
      </ul>
    <% else %>
      <p>No Reviews.</p>
    <% end %>
  <% end %>
<% else %>
  <h1>No feasts yet</h1>
<% end %>

<a href='feasts/new'>Add a feast</a>